html {
	
	font-family: Verdana, sans-serif;
	
}

body {
    /*background: url('fondEcran.png') repeat;*/
    background-size: 100%;
}

h1 {
	
	font-size: 100px;
	color: red;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 10px;
}

h2 {
	
	font-size: 25px;
	color: red;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	
}


.button {   /*boutons*/
  
  display: inline-block;
  border-radius: 30px;
  background-color: gray;
  border: none;
  color: white;
  text-align: center;
  font-size: 30px;
  padding: 30px;
  cursor: pointer; /*Changer la forme du curseur lors survole*/
  margin: 15px;
  width: 300px;
  outline: none;
	
}

.button span { /*Texte dans bouton*/
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after { /*Animation lors de la survole*/
  content: '\00bb';    /*Symbole affiché*/
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {     /*decalage du texte*/
  padding-right: 25px;
}


.button:hover span:after {  /*passer symbole en visible*/
  opacity: 1;
  right: 0;
}


.flex {
	
	display: flex;
	margin: auto;
	flex-direction: column;
	justify-content: space-around;
	transition: 1s; 
		
}

#boite {
	
	display: flex;
	margin: auto;
	justify-content: space-around;
	transition: 1s; 
		
}

#themesDifficulte1, #themesDifficulte2, #themesDifficulte3  {  
	
	/*Cacher Thème au départ*/
		
	display: none;
	width: 0px;
    border: none; 
	align-items: center;
	justify-content: center;
     
	
}

#niv1, #niv2, #niv3 {
    
    font-size: 20px; 
    width: 60px; 
    
 }

.buttonTheme {   /*boutons*/
  
 
  border-radius: 50px;
  background-color: gray;
  border: none;
  color: white;
  text-align: center;
  font-size: 30px;
  padding: 10px;
  cursor: pointer; /*Changer la forme du curseur lors survole*/
  margin: 10px;
  width: 200px;
  outline: none;
