html {
    font-family: Verdana, sans-serif;
	background-color: #DDDEDE;
	user-select : none;
}

h1 {
	
	text-align: center;
	color: #369393;
	font-family: police;
	font-size: 130px;
	margin-top: 0px;
	margin-bottom: 0px;
}

#info {
    display: none;
}

tr, td {
    width: 15px;
    height: 20px;
    border: solid;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}

table {
    border-spacing: 15px;
    cursor: default;
}

div {
    display: flex;
    justify-content: center;
	border-radius: 50px;
	margin-left: auto;
	margin-right: auto;
}

#div0 {
	display: flex;
	justify-content: center;
    width: 75%;
    height: auto;
    margin: auto;
    align-content: center;
	background-color: #369393;
	margin-top: 0px; 
}

#ecranJeu {
    display: flex;
    justify-content: center;
    flex-direction: column;
	border-radius: 10%;
    width: 800px;
    height: auto;	
	color:#87D1D1; 
	
}

#divMot {
    height: 72px;
}

#textJS {
    text-align: center;
}

@font-face{  

	font-family: 'police';       /* Nommer la police*/

	src: url('police.ttf');  /*Indiquer fichier ttf*/

	font-weight: normal; 	     /*Taille de base sans configuration*/

	font-style: normal; 

}

