html {
    font-family: Verdana, sans-serif;
}

#info {
    display: none;
}

tr, td {
    width: 15px;
    height: 20px;
    border: solid;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}

table {
    border-spacing: 15px;
    cursor: default;
}

div {
    display: flex;
    justify-content: center;
}

#div0 {
    width: 75%;
    height: auto;
    margin: auto;
    align-content: center;
	background-color: #369393;
}

#ecranJeu {
    display: flex;
    justify-content: center;
    flex-direction: column;
	border-radius: 10%;
    width: 800px;
    height: auto;
	
	color:#87D1D1; 
	
}

#divMot {
    height: 72px;
}

