html {
    font-family: Verdana, sans-serif;
}

tr, td {
    width: 15px;
    height: 20px;
    border: solid;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}

table {
    border-spacing: 15px;
}

div {
    display: flex;
    justify-content: space-around;
    width: 600px;
    margin: auto;
}

#divMot {
    height: 72px;
}
